body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #DDD;
}

header{
    display: flex;
    flex-direction: column;
    background: #6600cc;
    z-index: 1;

}

.first-column{
    flex:1;
    display: flex;
}

.logo{
    display: inline-block;
    flex: 2;
}

.logo img{
    display: block;
    margin: 20px auto;
    width: 170px;
    border-radius: 3px;
    cursor: pointer;
}

.topnav{
    display: inline-block;
    margin: auto ;
    overflow: hidden;
    flex: 8;
}

.topnav a{
    margin: 0 4vh 0 0;
    text-decoration: none;
    color: rgba(204, 204, 204, 0.5);
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.topnav a:hover{
    color: rgba(204, 204, 204, 1);
    transition: all 0.5s ease-out;
}

.active{
    color: rgba(204, 204, 204, 1)!important;
}

.second-column{
    flex:1;
    display: flex;
    /*background: #6600cc;*/
    background: linear-gradient(to top, #DDD, #6600cc);
}

.user-bar{
    flex:2;
}

.user-info{
    padding: 20px 0 20px 0;
}

.user-photo{
    background: url("../img/portrait-xl.jpg");
    border-radius: 50%;
    border: 2px solid rgb(204, 204, 204);
    width: 	213px;
    height: 213px;
    margin: auto;
}

.user-name{
    color: rgb(204, 204, 204);
    margin: 20px 0 0 0;
    text-align: center;
}

.user-options{
    text-align: center;
    margin: 40px 0;
}

.user-options div{
    padding: 5px 0;
}

.user-options div a{
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.user-options div a:hover{
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-out;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.main-bar{
    flex:7;
}

.opt-bar{
    flex:1;
}
/*
=======================================================================
    Main Content
=======================================================================
*/
main{
    position:absolute;
    top: 0;
    transform: translate(26%, 15%);
    background: #FFF;
    width: 70%;
    min-height: 100vh;
    z-index: 2;
    border-radius: 50px;
    padding: 40px;

}

.main-header{
    height: 20vh;
    width:100%;
    display: flex;
    flex-direction: row;
}

.hd-brand{
    flex:1;
    width: 100%;
    height: 100%;
}

.title-sign{
    text-align: center;
    color: #6600cc;
    font-weight: bold;
    font-size: 9rem;
}

.hd-title{
    flex:3;
    text-align: center;
    color: #6600cc;
}

.hd-divider{
    position:relative;
    display:block;
    left: 10%;
    width:80%;
    border-bottom: 3px solid #6600cc;
}

.main-body{
    min-height: 60vh;
    width:100%;
    border-bottom: 1px solid black;
    padding: 10px;
}


.main-footer{
    height: 20vh;
    width:100%;
}

footer{
    /*position: absolute;*/
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, #DDD, #6600cc);
    color: #fff;
    /*z-index: 3;*/
    margin-top: 65vh;
}

.footer-container{
    display: flex;
    flex-direction: row;
    padding: 2rem 4rem;
}

.footer-nav{
    flex: 1;
}

.footer-nav div a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.footer-nav div a:hover{
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-out;
}

.footer-brand{
    flex:1;
    text-align: right;
}

.footer-brand div a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    margin: 0.3rem 0 0 0;
    /*cursor: pointer;*/
}

.footer-brand div a:hover{
    color: rgba(255, 255, 255, 1);
    transition: all 0.5s ease-out;
}

footer span{
    display: block;
    text-align: center;
    padding: 1rem;
}

/*small*/
@media screen and (max-width: 500px){

}

/*medium*/

@media screen and (max-width: 1060px){
    .topnav a{
        font-size: 0.4rem;
    }

    .user-photo{
        background: url("../img/portrait-small.jpg");
        width: 	107px;
        height: 107px;
    }

    .user-options div a{
        font-size: .4rem;
    }

    .logo img{
        width: 100px;
    }
}


/*large*/

@media screen and  (min-width: 1060px) and (max-width: 1330px){
    .topnav a{
        font-size: 0.6rem;
    }

    .user-photo{
        background: url("../img/portrait-l.jpg");
        width: 	150px;
        height: 150px;
    }

    .user-options div a{
        font-size: .6rem;
    }

    .logo img{
        width: 140px;
    }
}


/*extra large*/
@media screen and (min-width: 1330px){
    .title-sign{

    }
}

